* {
    box-sizing: border-box;
}

html, body {
    min-height: 100vh;
    background-color: black;
    color: white;
}

body {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.container {
    flex-shrink: 0;
}

#playArea {
    flex: auto;
    display: flex;
    flex-flow: row wrap;
    min-width: 40%;
    aspect-ratio: 1;
    border: 1px solid grey;
    max-width: 90vw;
    max-height: 90vh;
}

#playArea div {
    flex-grow: 1;
    flex-shrink: 1;
    aspect-ratio: 1;
    border: .25px solid grey;
}

.blackspace {
    flex: auto;
}